body {
    background-color: #FEF9FC;
    color: #21121B;
    margin: 0;
    line-height: 150%;
    /* font: 1.5rem PP Neue Montreal, sans-serif; */
    font-size: 1.5rem;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    padding-left: 20%;
    padding-right: 20%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.left-header img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 10%;
}

.left-header p {
    font-weight: bold;
}

.links-header img {
    height: 3rem;
    width: 3rem;
}

main {
    /*
    padding-left: 20%;
    padding-right: 20%;
    */
}

/* Subject part */
.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.tabs button {
    all: unset;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.tabs button.active {
    text-decoration: underline;
    font-weight: bold;
}

.some-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.some-projects img {
    width: 2rem;
    height: 2rem;
    transform: scaleX(-1) /* Flips image */
}

.subjects a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.subjects a:hover {
    color: #007bff;
}

.subjects > div {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.subjects > div.active {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
    overflow: visible;
}

/* Project part */
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 50%;
}

.project h3 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    /* TODO: Fix height issue on smaller screens with to long names */
}

.project img {
    height: 400px;
    width: 90%;
    object-fit: cover;
    border: 2px solid #555;
    filter: grayscale(70%);
    transition: filter 0.4s ease, transform 0.4s ease;
}

.project img:hover {
    filter: grayscale(0%);
    transform: scale(1.03);
}

.project p {
    font-size: 0.8rem;
    color: #A49AA0
}

.rights {
    font-size: 1rem;
    color: #A49AA0
}