body {
    /* background-color: #FEF9FC; */
    background-color: #ffffff;
    color: #21121B;
    margin: 0;
    line-height: 150%;
    /* font: 1.5rem PP Neue Montreal, sans-serif; */
    font-size: 1.2rem;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    /*
    padding-left: 25%;
    padding-right: 25%;
     */
}

/* Header settings */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.left-header, .links-header {
    padding-left: 5%;
    padding-right: 5%;
}

.left-header img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 10%;
}

.left-header p {
    font-weight: bold;
}

.links-header img {
    height: 3rem;
    width: 3rem;
}

hr {
    border: 1px solid #A49AA0;
}

/* Main page content */
main {
    padding-left: 20%;
    padding-right: 20%;
}

.tldr h2 {
    text-align: center;
}

.tldr p {
    font-size: 1.2rem;
    padding-left: 15%;
    padding-right: 15%;
}

/* Subject part */
.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.tabs button {
    all: unset;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.tabs button.active {
    text-decoration: underline;
    font-weight: bold;
}

.some-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.some-projects img {
    width: 2rem;
    height: 2rem;
    transform: scaleX(-1) /* Flips image */
}

.subjects a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.subjects a:hover {
    color: #007bff;
}

.subjects > div {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.subjects > div.active {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
    overflow: visible;
}

/* Project part */
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid #ccc;
    min-height: 400px; /* Ensure all boxes have same height */
    box-sizing: border-box;
}

.project h3 {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
    /* TODO: Fix height issue on smaller screens with to long names */
}

.project img {
    height: 250px;
    width: 90%;
    object-fit: cover;
    border: 2px solid #555;
    filter: grayscale(70%);
    transition: filter 0.4s ease, transform 0.4s ease;
}

.project img:hover {
    filter: grayscale(0%);
    transform: scale(1.03);
}

.project p {
    font-size: 0.8rem;
    color: #A49AA0;
    margin: 0;
}

.gray-text {
    font-size: 0.8rem;
    color: #A49AA0;
    margin: 0;
}

/* GitHub Events Section */
.event {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #555;
    margin-bottom: 0.5em;
}

.event h3 {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0 0 5px 0;
}

.event p {
    font-size: 0.8rem;
    color: #A49AA0;
    margin: 2px 0;
}

/* Spotify / Currently Listening to */

.spotify-header {
    font-size: 1.5rem;
}

.spotify-entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
}

.song-info {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 1rem;
}

.song-info img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 0.25rem;
}

.song-name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.artist-name {
    font-size: 0.85rem;
    color: gray;
    text-decoration: none;
    margin-left: 4rem;
}

.rights {
    font-size: 1rem;
    color: #A49AA0;
    text-align: center;
}

@media (max-width: 750px) {
    main {
        padding-left: 5%;
        padding-right: 5%;
    }

    .tldr h2 {
        text-align: left;
    }

    .tldr p {
        padding-left: 0;
        padding-right: 0;
    }
    
    .tabs {
        flex-direction: column;
    }
    
    .projects {
        display: flex;
        flex-direction: column;
    }
    
    .project {
        width: 100%;
    }
    
    /* Removes grayscaling and on hover effect */
    .project img {
        filter: grayscale(0%);
        transition: none;
        transform: none;
    }

    .project img:hover {
        filter: grayscale(0%);
        transform: none;
    }
}